// @font-face {
//     font-family: "Gordita-Bold";
//     src: url("../fonts/Gordita-Bold.eot");
//     src: local("Gordita-Bold"), url("../fonts/Gordita-Bold.woff") format("woff"),
//         url("../fonts/Gordita-Bold.ttf") format("truetype"), url("../fonts/Gordita-Bold.svg") format("svg");
//     font-weight: 700;
//     font-style: bold;
// }
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
