<!-- FOOTER -->

<footer class="footer">
  <div class="click-canvas">НАЖМИ НА МЕНЯ</div>
  <canvas class="animate-canvas" id="c"></canvas>
  <div class="container">
    <div class="footer__text-bg"><span>МЫ</span> ОДНИ ИЗ<br> ЛУЧШИХ</div>
    <div class="footer__row footer__row--one">
      <div class="footer__column">
        <div class="footer__name red-letter">НАПИШИТЕ НАМ</div>
        <div class="footer__text"><a href="mailto:info@seointensive.ru">info@seointensive.ru</a></div>
      </div>
      <div class="footer__column">
        <div class="footer__name red-letter">или наберите</div>
        <div class="footer__text"><a href="tel:+79009999999">+7 900 999 99 99</a></div>
      </div>
    </div>
    <div class="footer__row footer__row--two">
      <div class="footer__text-2">© «seointensive.ru» 2020г</div>
      <div class="footer__text-2"><a href="#">Юридическая информация</a></div>
    </div>
  </div>
</footer>

<!-- // FOOTER -->