<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/lightgallery.min.css">
    <link rel="stylesheet" href="./css/jquery-ui.css">
    <link rel="stylesheet" href="./css/jquery.mCustomScrollbar.css">
    <title>Document</title>
  </head>

  <body>
    <div class="wrapper">
      <section class="header-wrapper header-wrapper--five">
        <div class="m-image">
          <div class="m-image__bar m-image__bar--animated flipInY animated">
            <div class="m-image__bar-image"></div>
          </div>
  
          <div class="m-image__bar m-image__bar--animated flipInY animated">
            <div class="m-image__bar-image"></div>
          </div>
  
          <div class="m-image__bar m-image__bar--animated flipInY animated">
            <div class="m-image__bar-image"></div>
          </div>
  
          <div class="m-image__bar m-image__bar--animated flipInY animated">
            <div class="m-image__bar-image"></div>
          </div>
  
          <div class="m-image__bar m-image__bar--animated flipInY animated">
            <div class="m-image__bar-image"></div>
          </div>
  
          <div class="m-image__bar m-image__bar--animated flipInY animated">
            <div class="m-image__bar-image"></div>
          </div>
  
          <div class="m-image__bar m-image__bar--animated flipInY animated">
            <div class="m-image__bar-image"></div>
          </div>
  
          <div class="m-image__bar m-image__bar--animated flipInY animated">
            <div class="m-image__bar-image"></div>
          </div>
        </div>
        <div class="bg-red-dots"></div>
        <header class="header">
          <div class="container">
            <div class="header__row nav">
              <div class="nav__group">
                <div class="nav__logo logo">
                  <a href="./index.html"><img src="./img/logo.svg" alt="" /></a>
                </div>
                <div class="nav__text">
                  РАЗРАБОТКА САЙТОВ<br />
                  И НОВЫЙ СЕО АЛГОРИТМ<br />
                  С ГАРАНТИЕЙ РЕЗУЛЬТАТА
                </div>
                <div class="nav__phone"><a href="tel:+79009999999">+7 900 999 99 99</a></div>
              </div>
  
              <div class="nav__menu">
                <div class="nav__close-mobil"></div>
                <div class="nav__item"><a href="./seo-page-development.html">РАЗРАБОТКА САЙТОВ</a></div>
                <div class="nav__item"><a href="./seo-page-three.html">ПРОДВИЖЕНИЕ</a></div>
                <div class="nav__item"><a href="./seo-page-two.html">РЕКЛАМА</a></div>
                <div class="nav__item"><a href="#">УСЛУГИ</a></div>
                <div class="nav__item"><a href="#">КОНТАКТЫ</a></div>
              </div>
  
              <a href="#" class="nav__button main-btn"><span></span>ЗАКАЗАТЬ ЗВОНОК</a>
              
              <div class="nav__burger">
                <span></span>
              </div>
            </div>
          </div>
        </header>

        <div class="promo promo--five">
          <div class="container">
            <div class="promo__column">
              <h1 class="promo__title title-h1 anim-items anim-no-scrollTop fadeInScale">Разработка <span>сайтов</span><br> под ключ</h1>
              <div class="promo__subtitle promo__subtitle--one title-h4 anim-items anim-no-scrollTop fadeInScale">
                  Разрабатываем <span>крутейшие сайты</span>, которые создают правильный имидж компании
              </div>
              <div class="promo__text">Наши проекты решают ряд бизнес задач:</div>
              <div class="promo__group">
                <div class="promo__item"><span></span> Презентация продукта/услуги/компании на WOW-уровне</div>
                <div class="promo__item"><span></span> Повышение продаж за счет увеличения конверсии</div>
                <div class="promo__item"><span></span> Поддержка имиджа, позиционирование бренда и отстройка от конкурентов</div>
              </div>
              <a href="#form-contact" class="promo__button js-anchor main-btn">ОСТАВИТЬ ЗАЯВКУ</a>
            </div>
          </div>
        </div>
      </section>


