<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/lightgallery.min.css" />
  <link rel="stylesheet" href="./css/jquery-ui.css" />
  <link rel="stylesheet" href="./css/jquery.mCustomScrollbar.css" />
  <link rel="stylesheet" href="./css/nice-select.css" />
  <title>Document</title>
</head>

<body>
  <div class="wrapper">
    <section class="header-wrapper">
      <div class="m-image">
        <div class="m-image__bar m-image__bar--animated flipInY animated">
          <div class="m-image__bar-image"></div>
        </div>

        <div class="m-image__bar m-image__bar--animated flipInY animated">
          <div class="m-image__bar-image"></div>
        </div>

        <div class="m-image__bar m-image__bar--animated flipInY animated">
          <div class="m-image__bar-image"></div>
        </div>

        <div class="m-image__bar m-image__bar--animated flipInY animated">
          <div class="m-image__bar-image"></div>
        </div>

        <div class="m-image__bar m-image__bar--animated flipInY animated">
          <div class="m-image__bar-image"></div>
        </div>

        <div class="m-image__bar m-image__bar--animated flipInY animated">
          <div class="m-image__bar-image"></div>
        </div>

        <div class="m-image__bar m-image__bar--animated flipInY animated">
          <div class="m-image__bar-image"></div>
        </div>

        <div class="m-image__bar m-image__bar--animated flipInY animated">
          <div class="m-image__bar-image"></div>
        </div>
      </div>
      <div class="bg-red-dots"></div>

      <header class="header">
        <div class="container">
          <div class="header__row nav">
            <div class="nav__group">
              <div class="nav__logo logo">
                <a href="./index.html"><img src="./img/logo.svg" alt="" /></a>
              </div>
              <div class="nav__text">
                РАЗРАБОТКА САЙТОВ<br />
                И НОВЫЙ СЕО АЛГОРИТМ<br />
                С ГАРАНТИЕЙ РЕЗУЛЬТАТА
              </div>
              <div class="nav__phone"><a href="tel:+79009999999">+7 900 999 99 99</a></div>
            </div>

            <div class="nav__menu">
              <div class="nav__close-mobil"></div>
              <div class="nav__item"><a href="./seo-page-development.html">РАЗРАБОТКА САЙТОВ</a></div>
              <div class="nav__item"><a href="./seo-page-three.html">ПРОДВИЖЕНИЕ</a></div>
              <div class="nav__item"><a href="./seo-page-two.html">РЕКЛАМА</a></div>
              <div class="nav__item"><a href="#">УСЛУГИ</a></div>
              <div class="nav__item"><a href="#">КОНТАКТЫ</a></div>
            </div>

            <a href="#" class="nav__button main-btn"><span></span>ЗАКАЗАТЬ ЗВОНОК</a>

            <div class="nav__burger">
              <span></span>
            </div>
          </div>
        </div>
      </header>

      <div class="promo">
        <div class="container">
          <div class="promo__column">
            <div class="promo__title title-h1 anim-items anim-no-scrollTop fadeInScale"><span>SEO</span>-продвижение
              сайта</div>
            <div class="promo__subtitle promo__subtitle--one title-h2 anim-items anim-no-scrollTop fadeInScale">
              <span>В ТОП 10</span> <span class="dashed"></span> <span>Я</span>ндекс и <span>G</span>oogle
            </div>
            <div class="promo__subtitle promo__subtitle--two title-h2 anim-items anim-no-scrollTop fadeInScale">
              РЕЗУЛЬТАТЫ НА <span>2м</span> МЕСЯЦЕ РАБОТ
            </div>
            <div class="promo__group">
              <div class="promo__item"><span></span> Нет фильтра от Поисковых систем</div>
              <div class="promo__item"><span></span> Протестировано на своих проектах</div>
              <div class="promo__item"><span></span> Подойдет для любой ниши</div>
              <div class="promo__item"><span></span> Высокий уровень сервиса</div>
            </div>
            <a href="#form-contact" class="promo__button js-anchor main-btn">ОСТАВИТЬ ЗАЯВКУ</a>
          </div>
        </div>
      </div>
    </section>